version: "3.8"

networks:
  krakend-network:
    driver: bridge
  user_service-network:
    driver: bridge
  task-service-network:
    driver: bridge
  team-service-network:
    driver: bridge
  project-service-network:
    driver: bridge

volumes:
  user_service_data:

services:
  user-service-db:
    extends:
      file: ./db/docker-compose.database.yml
      service: user-service-db

  hc-user-service:
    build:
      context: ./services/hc-user-service
    container_name: hc-user-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-service-db:5432/user_service
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
    depends_on:
      - user-service-db
    networks:
      - user_service-network
      - krakend-network

  krakend:
    image: krakend:2.9
    ports:
      - "8000:8000"
    environment:
      - KRAKEND_PORT=8000
    volumes:
      - ./krakend:/etc/krakend
      # - ./krakend/partials:/etc/krakend/partials
    depends_on:
      - hc-user-service
    networks:
      - krakend-network
