version: "3.8"

volumes:
  user_service_data:

networks:
  app-net:
    driver: bridge

services:
  hc-user-service-db:
    image: postgres:15

    container_name: user-service-db

    environment:
      - POSTGRES_DB=user_service
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

    ports:
      - "5431:5431"

    volumes:
      - user_service_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d

    networks:
      - app-net

  hc-user-service:
    build:
      context: ./services/hc-user-service

    container_name: hc-user-service

    ports:
      - "8080:8080"

    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-service-db:5431/user_service
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate

    depends_on:
      - hc-user-service-db

    networks:
      - app-net
